@model CarDealership.UI.Models.VehicleVM
@{
    ViewBag.Title = "Edit";
}

<br />

<div>
    <div class="container">
        <!--purchase form goes here-->

        @using (Html.BeginForm("EditVehicle", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.HiddenFor(i => i.Vehicle.VehicleId)
            @Html.HiddenFor(f => f.Vehicle.ImageFileLink)
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Edit Vehicle</h4>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-xs-6">
                            @Html.LabelFor(v => v.Vehicle.Model.Make)
                            @Html.DropDownListFor(m => m.Vehicle.Model.MakeId, Model.MakeItems, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Vehicle.BodyType, null, new { @class = "error" })
                        </div>

                        <div class="form-group col-xs-6">
                            @Html.LabelFor(v => v.Vehicle.Model)
                            @Html.DropDownListFor(m => m.Vehicle.ModelId, Model.ModelItems, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Vehicle.BodyType, null, new { @class = "error" })
                        </div>

                        <div class="form-group col-xs-6">
                            @Html.LabelFor(v => v.Vehicle.BodyType)
                            @Html.DropDownListFor(m => m.Vehicle.BodyTypeId, Model.BodyTypeItems, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Vehicle.BodyType, null, new { @class = "error" })
                        </div>

                        <div class="form-group col-xs-6">
                            @Html.LabelFor(m => m.Vehicle.VehicleYear)
                            @Html.TextBoxFor(m => m.Vehicle.VehicleYear, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Vehicle.VehicleYear, null, new { @class = "error" })
                        </div>


                        <div class="form-group col-xs-6">
                            @Html.LabelFor(m => m.Vehicle.IsNewType)
                            @Html.DropDownListFor(m => m.Vehicle.IsNewType, Model.ListOfTypes, "-Select New or Used-", new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Vehicle.IsNewType, null, new { @class = "error" })
                        </div>

                        <div class="form-group col-xs-6">
                            @Html.LabelFor(m => m.Vehicle.IsAutomatic)
                            @Html.DropDownListFor(m => m.Vehicle.IsAutomatic, Model.ListTransmission, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Vehicle.VehicleYear, null, new { @class = "error" })
                        </div>
                        <div class="form-group col-xs-6">
                            @Html.LabelFor(m => m.Vehicle.BodyColor)
                            @Html.DropDownListFor(m => m.Vehicle.BodyColorId, Model.BodyColorItems, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Vehicle.BodyColor, null, new { @class = "error" })
                        </div>
                        <div class="form-group col-xs-6">
                            @Html.LabelFor(m => m.Vehicle.InteriorColor)
                            @Html.DropDownListFor(m => m.Vehicle.InteriorColorId, Model.InteriorItems, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Vehicle.InteriorColor, null, new { @class = "error" })
                        </div>

                        <div class="form-group col-xs-6">
                            @Html.LabelFor(m => m.Vehicle.Mileage)
                            @Html.TextBoxFor(m => m.Vehicle.Mileage, new { @class = "form-control", @placeholder = "Enter E-Mail Here" })
                            @Html.ValidationMessageFor(c => c.Vehicle.Mileage, null, new { @class = "error" })
                        </div>
                        <div class="form-group col-xs-6">
                            @Html.LabelFor(m => m.Vehicle.VinNumber)
                            @Html.TextBoxFor(m => m.Vehicle.VinNumber, new { @class = "form-control", @placeholder = "Enter E-Mail Here" })
                            @Html.ValidationMessageFor(c => c.Vehicle.VinNumber, null, new { @class = "error" })
                        </div>

                        <div class="form-group col-xs-6">
                            @Html.LabelFor(m => m.Vehicle.MSRP)
                            @Html.TextBoxFor(m => m.Vehicle.MSRP, new { @class = "form-control", @placeholder = "Enter E-Mail Here" })
                            @Html.ValidationMessageFor(c => c.Vehicle.MSRP, null, new { @class = "error" })
                        </div>
                        <div class="form-group col-xs-6">
                            @Html.LabelFor(m => m.Vehicle.SalePrice)
                            @Html.TextBoxFor(m => m.Vehicle.SalePrice, new { @class = "form-control", @placeholder = "Enter E-Mail Here" })
                            @Html.ValidationMessageFor(c => c.Vehicle.SalePrice, null, new { @class = "error" })
                        </div>

                        <div class="form-group col-lg-12">
                            @Html.LabelFor(m => m.Vehicle.VehicleDescription)
                            @Html.TextAreaFor(m => m.Vehicle.VehicleDescription, new { @class = "form-control", @placeholder = "Enter E-Mail Here" })
                            @Html.ValidationMessageFor(c => c.Vehicle.VehicleDescription, null, new { @class = "error" })
                        </div>

                        <div class="form-group col-lg-12">
                            @Html.LabelFor(m => m.Vehicle.IsFeatured)
                            @Html.RadioButtonFor(m => m.Vehicle.IsFeatured, "true")
                            @Html.ValidationMessageFor(c => c.Vehicle.IsFeatured, null, new { @class = "error" })
                        </div>

                        <div class="form-group col-lg-12">
                            <div class="col-xs-6">
                                <label>Upload New Image</label>
                                <input type="file" name="file" id="fileToUpload">
                            </div>
                            <div class="col-xs-6">
                                <label>Current Upload</label>
                                <img src="~/Images/Uploaded/@Model.Vehicle.ImageFileLink" class="vehicleImages" alt="Image Uploaded" />
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" id="deleteVehicleBtn" data-delete="@Model.Vehicle.VehicleId">Delete</button>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/Admin.js"></script>